<!--<h1>Pages#about</h1>
<p>Find me in app/views/pages/about.html.erb</p> -->
<!DOCTYPE html>
<html>
    <link type="text/css" rel="stylesheet" href="about.css"/>
    <body>
        <div class="container">
                <div class = "about">
        
                <h1>About Us</h1>
                <p>    We are a team of 4 high school seniors--Megan, Kyra, Akua, and McCoy--from San Francisco, CA; Huntsville, AL; Upland, CA; and Lancaster, OH respectively. We met and came together for this project at the MITES program at MIT (more on that in our blog post here). 

                    Our mission is simple: get people excited about learning. Our team is united by our passion for exploring and understanding the world around us, and it’s something that we believe should be shared by as many people as possible. When we pooled our ideas, we realized that we were passionate about learning because we’d had the opportunities to really find out how exciting the world around us can be. 

                    Our way of achieving this goal is by creating one website that “bundles” multiple resources together to streamline the learning process. In addition to educational resources for homework help, we’ve incorporated links to resources that help students learn about what really interests them, instead of just cold hard facts. Our blog posts show our readers where passion can take them by documenting the stories of other passionate students. 

                    In the future, we plan on expanding our site to include more resources and further blog posts about successful students and educators, in a variety of both STEM and Humanities subjects. 

                    If you’d like more information or want to contribute ideas, get in touch with us! Shoot us an email at GoOutMakeProgress@gmail.com and follow us on Twitter @BundleResource. 
                </p>
                </div>
            </div>            
        </div>    
    </body>
        
</html>