<!--<h1>Pages#faq</h1>
<p>Find me in app/views/pages/faq.html.erb</p>-->
<link type="text/css" rel="stylesheet" href="app/assets/stylesheets/faq.scss"/>


<!DOCTYPE HTML>
<html>
    <body>
        <div class = "container-fluid container1">
            <div class = "row">
                <a name="top"></a><div class= "div1"> <!--FAQ info-->
                    <div class= "answers">
                    <h3>Frequently Asked Questions</h3> <br/> <br/>
                        <a href="#whatisbundle"><b>What is Bundle?</b></a> <br/>
                                          <a href="#whybundle"><b>Why Bundle?</b></a> <br/>
                                          <a href="#whatisgomp"><b>What is GOMP?</b></a> <br/>
                                          <a href="#additions"><b>Will there be any new additions to the site in the future?</b></a> <br/>
                                          <a href="#differences"><b>How is Bundle different from any other educational website?</b></a> <br/><br/>
                                         
                        <a name="whatisbundle"></a><hr><br/> <!--line break!-->
                        
                        <h5 class= "Bun"><b> What is Bundle?</b></h5>
                            <p class="fIT" style = "color:black">Bundle is a  website designed to help students in their classes by both helping them with their work and further encourage learning for the sake of learning and learning based on genuine passions. </p>
                             <a class = "top" href="#top">^top</a><br/><br/>
                             
                        <a name="whybundle"></a><hr><br/>
                        
                        <h5 class= "Bun"><b> Why Bundle?</b></h5>
                            <p class="fIT" style = "color:black">We designed Bundle as a way to both help students seeking educational help as well as fostering a genuine love for learning. The Blog aspect of the website also helps show students where their passions can lead them by spotlighting high school and college students who have excelled in various subjects. 
                             </p>
                             <a class = "top" href="#top">^top</a><br/><br/>
                             
                        <a name="whatisgomp"></a><hr><br/>
                        
                        <h5 class= "Bun"><b> What is GOMP?</b></h5>
                            <p class="fIT" style = "color:black">GOMP is the name of the development and management team at Bundle. It has developed a myriad of meanings, including (but not limited to) the initials of the team’s last name, Go Out Make Progress, Guessing Offers More Probability, and Galaxies Open More Possibilities. 
                             </p>
                             <a class = "top" href="#top">^top</a><br/><br/>
                             
                        <a name="additions"></a><hr><br/>
                        
                        <h5 class= "Bun"><b> Will there be any new additions to the site in the future?</b></h5>
                            <p class="fIT" style = "color:black">Yes! Bundle was developed under an extremely limited timeframe, and GOMP is still working on it in order to improve the content, function, and aesthetic of the site. We will continue to add blog posts and resources, and hopefully other guest writers in order to create a more helpful and vibrant web resource. 
                             </p>
                             <a class = "top" href="#top">^top</a><br/><br/>
                             
                        <a name="differences"></a><hr><br/>
                        
                        <h5 class= "Bun"><b> How is Bundle different from any other educational website?</b></h5>
                            <p class="fIT" style = "color:black">Unlike a lot of websites that just seek to help students learn for school, Bundle encourages students to branch out and explore aspects of subjects that interest them that they might not be exposed to in school, while providing a more personal experience through the additions of personal recounts of the learning experience from others who are experiencing and thriving in their learning journey. We seek to actively encourage a passion for learning. 
                             </p>
                             <a class = "top" href="#top">^top</a><br/><br/>
                    </div>
                </div>
               
            </div>
        </div> 
    </body>
</html>