<!--<h1>Pages#faq</h1>
<p>Find me in app/views/pages/faq.html.erb</p>-->

<!DOCTYPE html>
<!--<html>-->
<!--    <link type="text/css" rel="stylesheet" href="app/assets/stylesheets/faq.scss"/>-->
<!--    <head>-->
        
<!--    </head>-->
<!--    <body>-->
<!--        <div class= "borde"> 
<!--            <p>Got Questions?</p>-->
<!--        </div>-->
<!--    </body>-->
<!--</html>-->

<!DOCTYPE HTML>
<html>
    <body>
        <div class = "container-fluid container1">
            <div class = "row">
                <div class = "div1"> <!--FAQ info-->
                    <h3>Frequently Asked Questions</h3>
                        <a name="top"></a><a href="#whatisbundle">What is Bundle?</a>
                        
                        
                        
                        <a name="whatisbundle"></a><h5 class= "Bun"> What is Bundle?</h5> <a class="top" href="#top">^top</a>
                            <p>Bundle is a  website designed to help students in their classes by both helping them with their work and further encourage learning for the sake of learning and learning based on genuine passions. </p>
                </div>
               
            </div>
        </div> 
    </body>
</html>