
<!--<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>-->

<!DOCTYPE html>
<html>
    <body>
        
        <!--<header id= "test1">
        <div class="col-md-12"></div> 
        </header> -->
        
        <div class="col-md-12 container">
           
           <div class="row">
                <div class = "col-md-9">
                    <div class="row">
                        <div class="col-md-4 tales" id="fixed"> 
                            
                                Tall Tales
                            
                        </div>
                        <div class="col-md-8 video" id="fixed"> Featured Video </div>
                    </div>

                    <div class="row test3">
                        <div class="col-md-7 quiz" id="fixed"> Daily Quiz </div>
                        <div class="col-md-5 learn" id="fixed"> Learn Something </div>
                    </div>
                </div>

                <%= render "pages/sidebar" %>
                
            </div>
        </div>
    </body>
</html>
    
