html{
     background-color:#FFFFEA;
}

.about {
    
    border: 2px solid #C8D5B9;
    /*border-style: inset; */
    box-shadow: 0 0 10px .1px;
    -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	color: #000000;
    height: 35em;
    width: 50%;
    position: fixed;
        left: 2em;
        top: 5.5em;
        right: 4em;
    padding: 2em;
    font-family: florence, serif;
    background-color:#C8D5B9;
    
}