@import "bootstrap-sprockets";
@import "bootstrap";






// .test2 {
//     height:35em;
//     background-color: #FFFAFA;
//     padding:0px 0px 0px 5px;
// }

// .test3 {
//     color:red;
//     background-color: #7DABBA;
//     height:15em;
//     padding:0px 0px 5px 5px;
// }

// .test4 {
//     height:5em;
//}

html {
      background-color:#686868;
    /*background: -webkit-linear-gradient(#FFFFEA, #FFA38F); /* For Safari 5.1 to 6.0 */
    /*background: -o-linear-gradient(#FFFFEA, #FFA38F); /* For Opera 11.1 to 12.0 */
   /* background: -moz-linear-gradient(#FFFFEA, #FFA38F); /* For Firefox 3.6 to 15 */
   /* background: linear-gradient(#FFFFEA, #FFA38F);  /* Standard syntax */
    
}

/*
.test5 {
    color:blue;
    background-color: #8A2BE2;
} */

body {
    padding-top: 0px;
}
.tales {
    /*div styling*/
    border: 2px solid #C8D5B9;
    border-style: inset;
    -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
    height: 35em;
    width: 26em;
    position: relative;
        left: 1.5em;
        top: 0em; 
    padding: 1em;    
    background-color:#eae7e7;
    
    /*text styling*/
    
}
    

/* div div div div div p { all Tales Title
    text-align: center;
    font-size: 25px;
    font-family: sans-serif; 
} */

.video {
     /*div styling*/
    border: 2px solid #eae7e7;
    border-style: inset;
    -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
    height: 35em;
    width: 46.5em;
    /*margin: 2px 2px 2px 2px;*/
    position: relative;
        left: 3.0em;
        right: 0em;
        top: 0em; 
    padding: 1em;
    background-color:#C8D5B9;
    
    /*text styling*/
    
}

.quiz {
     /*div styling*/
    border: 2px solid #eae7e7;
    border-style: inset;
    -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
    height: 35em;
    width: 37.5em;
    float: left;
    /*margin: -20px;*/
    position: relative; 
        left: 1.5em;
        bottom: 0em;
        top: 1.5em;
    padding: 1em;
    
    background-color:#C8D5B9;
    
    /*text styling*/
    
}

.learn {
     /*div styling*/
    border: 2px solid #C8D5B9;
    border-style: inset;
    -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
    height: 35em;
    position: relative; 
        top: 1.5em;
        left: 3em;
        right: 0em;
        bottom: 2em;
         
    padding: 1em;     
    width: 35em;
    background-color:#eae7e7;
    
    /*text styling*/
    
}

.sidebar {
     /*div styling*/
    border: 2px solid #eae7e7;
    border-style: inset;
    height: 75em;
    display: inline-block;
    /*margin-top: -21px;
    margin-right: -30px;
    margin-bottom: -30px;*/
    float: right;
    position: relative;
        top: 0.8em;
    padding: 1em;
    background-color:#eae7e7;
    
    /*text styling*/
    text-align: center; 
    
}

h1 {
    font-family: century gothic, sans-serif;
    font-size: 2em;
    text-align: center;
    text-shadow: 1px 1px #fe5607;
}

.link {
    color:#cc0000;
    text-decoration: none;
    outline: none;
}

div p {
    color: #fe5607;
    text-align: left;
    font-family: oldtown, sans-serif;
    font-size: 1.2em;
    line-height: 2em;
}

img {
    position: absolute;
    border: solid 2px #000000;
    margin-left: 100px;
    margin-bottom: 100px;
}

iframe {
    margin-right:auto;
    margin-left:auto;
    display:block;
    float: center;
}
