/*FAQ Design page*/
// html {
//     background-color: blue;
// }
.container1 {
    background-color: #686868;
    height: 100%;
    padding-top: 00px;
    }
body {
    padding-top:-30px;
    height: 108px;
    background-color: #686868;
}
hr {
    border-color:#858585;
}
.div1 {
    width: 90em;
    height: 90em;
    padding: 0px 0px 40px 0px;
    left: 45px;
    background-color: #eae7e7; 
    position:relative;
    border-style: solid;
    border-width: 3px;
    border-color: #eae7e7;
    border-radius:5px;
}
.answers {
    width: 84em;
    height: 65em;
    padding: 0px 0px 0px 45px;
      
}
h3 {
    text-align: center;
    text-indent: 50px;
    
}
.bun {
    height: 100%;
    width: 50%;
    display: inline-block;
}
.fIT {
    line-height: normal;
    font-family: "baskerville" ;
     padding-top: 5px;  
     padding-bottom: 5px;  
     padding-right: 5px;  
     padding-left: 30px;
}
