@import "bootstrap-sprockets";
@import "bootstrap";

#test1 {
    background-color:#488CB0;
    border: 2px solid #000000;
    color:#000000;
    text-align: center;
    height:3em;
    font-family: Cursive;
    font-size: 35px;
}
.test2 {
    height:35em;
    background-color: #FFFAFA;
    padding:0px 0px 0px 5px;
}

.test3 {
    color:red;
    background-color: #7DABBA;
    height:15em;
    padding:0px 0px 5px 5px;
}

.test4 {
    height:5em;
}

.test5 {
    color:blue;
    background-color: #8A2BE2;
}

.tales {
    border: 2px solid #000000;
    height: 35em;
}

.video {
    border: 2px solid #000000;
    height: 25em;
}

.quiz {
    border: 2px solid #000000;
    height: 15em;
}

.learn {
    border: 2px solid #000000;
    height: 15em;
}

.sidebar {
    border: 2px solid #000000;
    height: 40em;
}
