/*Design for header */

.header {
background-color: #fe5607;
height: 5em;
}


.navbar-header {
    text-decoration: none;
    font-family: "palatino";
    text-shadow: 1px 1px #fe5607;
    line-height: 68px;
    font-size: 55px;
    
}

.navbar-header:hover {
    text-decoration:none;
    color: #F00;
    background-color: none;
}