// Place all the styles related to the Videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*body:nth-child(1){
    background-color: red;
}

body:nth-child(2){
    background-color: blue;
}*/
.row {
    position:relative;
    top:40px;
}

.main {
    background-color: #686868;
    height:50em;
}
.menu {
    background-color: #eae7e7;
    height: 50em;
}
#search {
    width: 25em;
}
.jumbotron {
    background-color:#eae7e7;
    width: 71em;
    height: 40em;
    position: relative;
    top: 50px;
}
.item {
    width: 570px;
    height: 400px;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
}
.arrows {
    opacity: 0.0;
}
.arrows:hover {
    opacity: 0.5; /* makes navigation arrows over the videos transparent before scrolling over*/
}
.arrows2 {
    opacity: 0.0;
}
#search {
    padding:40px 0px 0px 0px;
}

#sidemenu {

   padding:40px 0px 0px 0px;
}

